<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.plugins.firebaseperformance" version="2.3.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  
  <name>OSFirebasePerformance</name>
  <description>Plugin to support firebase performance monitoring</description>
  <author>OutSystems Inc</author>
  
  <js-module name="OSFirebasePerformance" src="www/OSFirebasePerformance.js">
    <clobbers target="cordova.plugins.OSFirebasePerformance"/>
  </js-module>
  
  <platform name="android">

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSFirebasePerformance">
        <param name="android-package" value="com.outsystems.plugins.firebaseperformance.OSFirebasePerformance"/>
      </feature>
      <preference name="GradlePluginGoogleServicesEnabled" value="true" />
    </config-file>

    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <source-file src="src/android/com/outsystems/plugins/firebaseperformance/OSFirebasePerformance.java" target-dir="src/com/outsystems/plugins/firebaseperformance"/>

    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
  </platform>
  
  <platform name="ios" package="swift">

    <preference name="IOS_FIREBASE_PERFORMANCE_VERSION" default="10.29.0"/>

    <config-file parent="/*" target="config.xml">
      <feature name="OSFirebasePerformance">
        <param name="ios-package" value="OSFirebasePerformance"/>
      </feature>
      <preference name="SwiftVersion" value="5" />
    </config-file>

    <source-file src="src/ios/OSFirebasePerformance.swift"/>
    <source-file src="src/ios/FirebasePerformancePlugin.swift"/>

    <podspec>
        <config>
            <source url="https://cdn.cocoapods.org/" />
        </config>
        <pods use-frameworks="true">
            <pod name="FirebasePerformance" spec="$IOS_FIREBASE_PERFORMANCE_VERSION" nospm="true" />
        </pods>
    </podspec>
  </platform>
</plugin>
