<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.plugins.firebaseperformance" version="2.1.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  
  <name>OSFirebasePerformance</name>
  <description>Plugin to support firebase performance monitoring</description>
  <author>OutSystems Inc</author>
  
  <js-module name="OSFirebasePerformance" src="www/OSFirebasePerformance.js">
    <clobbers target="cordova.plugins.OSFirebasePerformance"/>
  </js-module>

  <preference name="PERFORMANCE_MONITORING_ENABLED" default="true" />
  
  <platform name="android">

    <hook type="before_plugin_install" src="hooks/android/build_gradle_add_dependency.js" />

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSFirebasePerformance">
        <param name="android-package" value="com.outsystems.plugins.firebaseperformance.OSFirebasePerformance"/>
        <param name="onload" value="$PERFORMANCE_MONITORING_ENABLED" />
      </feature>
    </config-file>

    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="firebase_performance_collection_enabled" android:value="$PERFORMANCE_MONITORING_ENABLED" />
    </config-file>

    <source-file src="src/android/com/outsystems/plugins/firebaseperformance/OSFirebasePerformance.java" target-dir="src/com/outsystems/plugins/firebaseperformance"/>

    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
  </platform>
  
  <platform name="ios">

    <preference name="IOS_FIREBASE_PERFORMANCE_VERSION" default="10.23.0"/>

    <config-file parent="/*" target="config.xml">
      <feature name="OSFirebasePerformance">
        <param name="ios-package" value="OSFirebasePerformance"/>
        <param name="onload" value="$PERFORMANCE_MONITORING_ENABLED" />
      </feature>
      <preference name="SwiftVersion" value="5" />
    </config-file>

    <config-file target="*-Info.plist" parent="FIREBASE_PERFORMANCE_COLLECTION_ENABLED">
      <string>$PERFORMANCE_MONITORING_ENABLED</string>
    </config-file>

    <source-file src="src/ios/OSFirebasePerformance.swift"/>
    <source-file src="src/ios/FirebasePerformancePlugin.swift"/>

    <podspec>
        <config>
            <source url="https://cdn.cocoapods.org/" />
        </config>
        <pods use-frameworks="true">
            <pod name="FirebasePerformance" spec="$IOS_FIREBASE_PERFORMANCE_VERSION" />
        </pods>
    </podspec>
  </platform>
</plugin>
