<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.plugins.firebaseperformance" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  
  <name>OSFirebasePerformance</name>
  <description>Plugin to support firebase performance monitoring</description>
  <author>OutSystems Inc</author>
  
  <js-module name="OSFirebasePerformance" src="www/OSFirebasePerformance.js">
    <clobbers target="cordova.plugins.OSFirebasePerformance"/>
  </js-module>

  <dependency id="cordova-plugin-firebase-analytics" url="https://github.com/OutSystems/cordova-plugin-firebase-analytics.git#outsystems"/>

  <preference name="PERFORMANCE_MONITORING_ENABLED" default="true" />
  
  <hook type="before_plugin_install" src="hooks/configurations/installDependencies.js" />
  <hook type="before_plugin_install" src="hooks/configurations/unzipAndCopyConfigurations.js" />

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSFirebasePerformance">
        <param name="android-package" value="com.outsystems.plugins.firebaseperformance.OSFirebasePerformance"/>
        <param name="onload" value="$PERFORMANCE_MONITORING_ENABLED" />
      </feature>
    </config-file>

    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="firebase_performance_collection_enabled" android:value="$PERFORMANCE_MONITORING_ENABLED" />
    </config-file>

    <source-file src="src/android/com/outsystems/plugins/firebaseperformance/OSFirebasePerformance.java" target-dir="src/com/outsystems/plugins/firebaseperformance"/>

    <framework src="com.google.firebase:firebase-perf:19.1.1" />
    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
  </platform>
  
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="OSFirebasePerformance">
        <param name="ios-package" value="OSFirebasePerformance"/>
        <param name="onload" value="$PERFORMANCE_MONITORING_ENABLED" />
      </feature>
    </config-file>
    <!--<dependency url="https://github.com/agoncalvesos/cordova-plugin-add-swift-support" commit="513e43f94ae94ad609d49f24e7dca23a4c358095" id="cordova-plugin-add-swift-support"/>-->
    <dependency url="https://github.com/agoncalvesos/cordova-plugin-add-swift-support" id="cordova-plugin-add-swift-support"/>

     <config-file target="*-Info.plist" parent="FIREBASE_PERFORMANCE_COLLECTION_ENABLED">
            <string>$PERFORMANCE_MONITORING_ENABLED</string>
     </config-file>

    <!--<resource-file src="GoogleService-Info.plist" target="./GoogleService-Info.plist" />-->

    <source-file src="src/ios/OSFirebasePerformance.swift"/>
    <source-file src="src/ios/FirebasePerformancePlugin.swift"/>

    <framework src="Firebase/Performance" type="podspec" spec="~> 7.0.0"/>
  </platform>
</plugin>